<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted">We support government agencies in providing digital services that are equitable, accessible, and sustainable.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Talent</h4>
                    <p class="text-muted">Digital transformation cannot be the sole job of outsiders or a central digital team. Every department must be empowered to do this work. We help government orgs understand where they have gaps, augment existing staff, and attract new talent.</p>
                    <h3 class="section-subheading text-muted">“We have four people retiring. How can we modernize the old job descriptions to expand our capacity to deliver user-centered digital services?”</h3>
                    <h3 class="section-subheading text-muted">“We’re interested in conducting user research as we build or buy tools. How do we talk to users? With a survey? What’s with all the post-it notes?”</h3>
                    <h3 class="section-subheading text-muted">“We’re interested in standing up a small but mighty digital team in-house. What roles will we need to support that effort, and how do we get it off the ground?”</h3>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Procurement</h4>
                    <p class="text-muted">Government is often hamstrung by bad tools. These tools must not only meet your needs today, but must be adaptable in the face of rapidly changing standards. We help government organizations understand their needs and evaluate their options.</p>
                    <h3 class="section-subheading text-muted">“Our department wants to keep track of constituents that attend their meetings, and better engage them. How much can we do with a limited budget?”</h3>
                    <h3 class="section-subheading text-muted">“We want to help youth in our city discover and sign up for various programs. We’ve drafted an RFP for a mobile app. Can you help us make sure we’re asking for the right tools?”</h3>
                    <h3 class="section-subheading text-muted">“What does an "agile" Statement of Work (SOW) look like that ensures we get something for the money we spend if we don’t provide a complete list of requirements?”</h3>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrows-h fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Service Delivery</h4>
                    <p class="text-muted">We curate toolkits and collections of best practices and help government put them into practice in your city or state.</p>
                    <h3 class="section-subheading text-muted">“We know many of our forms use heavy legalese and government language. We’d like to rewrite the content using plain language. How do we approach a large re-write?”</h3>
                    <h3 class="section-subheading text-muted">"A growing number of our departments now have social media accounts. What processes or policies should we have in place to make sure we’re using it effectively and responsibly?”</h3>
                    <h3 class="section-subheading text-muted">“We're embarking on a website redesign. What resources will we need to invest upfront and to support it down the road? What should we do in-house vs. enlist vendors to do?”</h3>
                </div>
            </div>
        </div>
    </section>
